.card
  - @hobbies.each do |hobby|
    = link_to hobby.title, hobby_path(@hobbies.ids), method: :get, class: :card__title
    .card__body
      = hobby.recommended
      %p.card__summary
      = link_to hobby.user.nickname, "#" , class: :card__user